/* ---------------------------------------------------------------------
Original Author:
Contributors:

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
LOGIN CSS
------------------------------------------------------------------------ */

#login {
    width: 300px;
    margin: 50px auto 0 auto;
}